<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FingerprintJS BotD Example App</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/ico" href="../img/favicon.ico">
</head>
<body>
<div class="content">
    <a class="logo" href="https://fingerprintjs.com/">
        <img src='../img/logo.svg' alt='FingerprintJS'>
    </a>
    <h1>FingerprintJS BotD Example App</h1>
    <h2>{{.Result}}</h2>
    <a class="link" href="/">Back to login page</a>
</div>
</body>
</html>